p{
     color: #696969
}
h1{
     color: #ff15ff; 
    font-size: 60px;
    font-weight:  normal;
    font-family: "Impact";
    text-align: center;
   background-color: black;
}

h2{
      color: #008080; 
    
    font-family: "Impact";
    text-align: center;
    
   background-color: palegreen; 
}
h3{
     color: #008080; 
     
}
h4{
     color: #008080; 
    
   
}




body{
   background-image : url(../images/06.png) ;
   
     
        
    
}